/* style.css */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,8,900&display=swap');
*

{
  margin: 0;
  padding: 0;
  box-sizing : border-box;
  font-family: 'Poppins', sans-serif;
}
h1, h2, h3, p {
  color: #FFFFFF; /* Couleur blanche pour le texte */
}


header{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  padding : 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header ul
{
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li{
  list-style: none;
  margin-left: 20px;

}
header ul li a{
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

.indent {
  margin-left: 1%;
  text-indent: 40px;
}
.margin{
  margin-left: 1%;
}

div {
  text-align: center;
}


header ul li a:hover
{
  background: #fff;
  color : #241571;
}

  /* Exemple de styles pour le bouton */
#start-button {
    background-color: #FFA500; /* Couleur orange */
    color: #FFFFFF; /* Couleur blanche */
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #start-button:hover {
    background-color: #FF8C00; /* Couleur orange foncé au survol */
  }
  

/* Styles pour l'effet d'étoiles en arrière-plan */
body {
  background: #000000; /* Couleur de fond noire */
  background-image: url('stars.png'); /* Image d'étoiles */
  background-repeat: repeat; /* Répéter l'image */
}

/* Styles pour la section de contact */
#contact {
  color: #FFFFFF; /* Couleur du texte en blanc */
}

#contact-info ul {
  list-style-type: none;
  padding: 0;
}

#contact-form label {
  display: block;
  margin-top: 10px;
  color: #FFFFFF; /* Couleur du texte en blanc */
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2); /* Fond semi-transparent */
  color: #FFFFFF; /* Couleur du texte en blanc */
}

#contact-form textarea {
  height: 150px;
}

#contact-form button {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #FFA500; /* Couleur orange */
  color: #FFFFFF; /* Couleur du texte en blanc */
  border: none;
  cursor: pointer;
}

#contact-form button:hover {
  background-color: #FF8C00; /* Couleur orange foncé au survol */
}

  

#stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.star {
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 50%;
  pointer-events: none;
}

#stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
}
